@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #bbcdda;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

/*/ PORTADA /*/

.portada{    
    background-image: url(assets/Diseño\ sin\ título.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portada h1 {
    text-align: center;
    color: rgb(37, 81, 163);
    font-family: 'Lora', serif;
    font-size: 55px;
    padding: 20px;
    margin: 5%;
    margin-top: 5%;
    width: 70%;
}

.portada p{
    width: 52%;
    margin-bottom: 10%;
    align-self: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: rgb(107, 101, 101);
}
.portada h2{
    width: 52%;
    margin-bottom: 10%;
    align-self: left;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: rgb(107, 101, 101);
}


footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(173, 6, 6);
  }
  
  .foot h3 {
    margin: 20px;
    margin-right: 250px;
    font-family: "Lora", sans-serif;
    font-size: 1.5vw;
    color: antiquewhite;
  }
  
  .foot p {
    margin: 20px;
    margin-bottom: 100px;
  }
  .foot2 p {
    margin: 1.2vw;
  }
  
  .foot2 h3 {
    margin: 20px;
    font-family: "Lora", sans-serif;
    font-size: 1.5vw;
    color: antiquewhite;
  }
  
  footer a {
    position: sticky;
    text-decoration: none;
    color: rgb(154, 154, 170);
    font-size: 1.3vw;   
    padding-bottom: 8px;
    font-family: "Century Gothic", sans-serif;
  }

  footer a::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0px;
    width: 70%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}
footer a:hover::after {
    transform: scaleX(1);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}