* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #7aa2bd
}
 iframe{
    border: none;
 }

.navbar {
    position: fixed;    
    top: 0;    
}

.navbar:hover {
    z-index: 3;
}

.slider{
    position: absolute;
    width: 100%;
    height: 60%;
    margin-top: 12%;   
}

.slider__S{
    margin-left: 0%;
}

@media screen and (max-width: 768px) {

}

