* {
    margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
body{
    background-color: rgb(245, 222, 179);

}
h2{
    color: rgb(37, 81, 163);
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    font-family: "Century Gothic", sans-serif;
    text-align: left;
}
    
p{
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Nosotros {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: space-between;
}
  
#Nosotros > div {
    width: 100%;
}

.historia, .qs {
    padding: 15px;
    background-color: rgba(6, 104, 252, 0.199);
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;  
}

/* FOOTER */

footer {  
    background-color: #ad0606;
  }
  .footer-caja{
  display: flex;    
  flex-direction: row-reverse;
  justify-content: space-around;
  }
  
  .foot-container{
    display: flex;     
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .foot{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .foot2{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  footer h3 {
    margin: 20px;  
    margin-bottom: 10px;  
    font-family: "Century gothic", sans-serif;
    font-size: 15px;
    color: antiquewhite;
    font-weight: lighter;
  }
  
  .foot p {
    margin: 20px;
    margin-bottom: 100px;
  }
  .foot2 p {
    margin: 20px;
    margin-bottom: 5px;
  }
    
  .foot-container a {
    position: sticky;    
    text-decoration: none;
    color: rgb(154, 154, 170);
    font-size: 11.5px;   
    padding-bottom: 8px;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
  }
  
  .foot-container a::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0px;
    width: 70%;
    height: 1px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
  }
  .foot-container a:hover::after {
    transform: scaleX(1);
  }
  .imagenfooter{
  width: 200px;
  
  }
  
  .redes{
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  }
  .redes a {
  color: azure;
  position: unset;
  text-align: center;
  margin: 10px;  
  }
  .redes a i{
  font-size: 25px;
  animation: ;
  }
  
  
  
  .redesbutton{
  justify-content: center;
  display: flex;
  }
  
  
  .copy{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(143, 4, 4);
  }
  .copy p{
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;  
  font-size: 12px;
  }

  @media screen and (max-width: 700px){

      #Nosotros{
      margin-top: 100px;
         }
    .footer-caja {
      flex-direction: column;
      justify-content: center;   
    }
  
    .foot-container{
    margin: 0;
    justify-content: center;
    }
   
  .footer-image{
   justify-content: center;
   display: flex;
  }
  .redes{
    justify-content: center;
    text-align: center;
  }
  
  .imagenfooter{
    margin: 0;
    width: 150px;
  }
    .imagefloat{
      width: 90%;
      justify-content: center;
      align-content: center;
      padding: 0;   
      height: 50%;
    }
  }