<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="productos.css" />
    <link rel="stylesheet" href="/secciones/navbar/navbar.css" />
    <title>MascotaFood</title>

  </head>

  <body>    
    <div id="app">

    <header>
      <div id="navbar-container"></div>
    </header>
  
    <div class="slider-container">
      <div class="slider" id="slider">
        <div class="slider__section">
          <img
            src="../../assets/2310-Website-Banner-Gato-Alimento-Royal-Canin-156288----100119----D.png"
            class="slider-img"
          />
        </div>
        <div class="slider__section">
          <img
            src="../../assets/2310-Website-Banner-Perro-Alimento-Balanced-121094----121123----D.png"
            class="slider-img"
          />
        </div>
        <div class="slider__section">
          <img
            src="../../assets/2310-Website-Banner-Perro-y-Gato-Humedos-Sieger-132171--3x2--132181--3x2--D.png"
            class="slider-img"
          />
        </div>
      </div>
      <div class="slider-btn slider-btn-right" id="btn-right">&#62;</div>
      <div class="slider-btn slider-btn-left" id="btn-left">&#60;</div>
    </div>
  
    <div id="carrito" class="carrito">
     
     
      <br>
      <br>
      <br>
      <br>
      <br>
      <button style="background-color: transparent; border: none; cursor: pointer; margin: 15px;" @click="toggleMenu()">X</button>
      <h2 class="titulo-carrito">Productos seleccionados</h2>
      <div class="table-container">
      <table>
      <thead>
        <tr class="product-row" data-id="" data-precio="">
        <th scope="col" style="padding: 1px;">Código de articulo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>   
      </tr>
    </thead>
    <tbody>
      <tr v-for="producto in productosSeleccionados" :key="producto.id" :data-id="producto.id">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>
              <button type="button" class="btn-danger" @click="eliminarProducto(producto)">Eliminar</button>
          </td>
      </tr>
  </tbody>
      </table>
      <div id="total-container">
        <p>Total a pagar: $<span id="total">{{ total.toFixed(2) }}</span></p>
    </div>
      </div>
      <br>
      <br>
      <br>
      <button type="button" class="btn-compra" @click="compra()">Comprar</button>
    </div>
    <div class="Tienda">
      <div class="header-tienda">
        <h2 class="titulo-tienda">Catalogo de productos</h2> <a href="nuevoproducto.html"><button type="button" class="boton-agregar">Agregar producto</button></a>
         <div class="container-icon">
         <button type="button" @click="toggleMenu()" style="background-color: transparent; border: none; cursor: pointer;"><img class="img-icon" src="/assets/carrito-de-compras(1).png"></button>
         <div id="contadorCarrito">0</div>
         
        </div>
      </div>
      
<!-- ----------------------------------------------------------------------- -->

      <div class="container-items">
        <div class="producto"  v-for="producto in productos" :key="producto.id">
          <figure>
            <img
              :src="producto.imagen"
              :alt="producto.nombre"
              height="100%"
              width="100%"
            />
          </figure>
          <div class="info-product" >
            <h1>Id: {{producto.id}}</h1>
            <h3>{{producto.nombre}}</h3>
            <p class="price">${{producto.precio}}</p>
            <p class="stock">Stock: {{producto.stock}}</p>
            <button class="agregar-al-carrito"  @click="agregarAlCarrito(producto)">
              Añadir al carrito
            </button>
            <a :href="'editarproducto.html?id=' + producto.id"><button class="editar-producto">
             Editar <img src="/assets/editar.png" width="20px" height="20px">
            </button></a>
            <button class="eliminar-producto" v-on:click="eliminar(producto.id)">
              Eliminar <img src="/assets/boton-eliminar.png" width="20px" height="20px">
            </button>          
          </div>
        </div>
      </div>
    </div>
    
<!-- ----------------------------------------------------------------------- -->

    <footer>  
      <div class="footer-caja">
     <div class="foot-container">
      <div class="foot">
        <h3>Quiénes somos</h3>        
          <p><a href="#">Sobre nosotros</a></p>
      </div>
      <div class="foot2">
        <h3>Info que te interesa</h3>    
          <p><a href="#">Políticas de devoluciones</a></p>
          <p><a href="#">Sobre nuestros envíos</a></p>   
          <p><a href="#">Trabajá con nosotros</a></p>
        </div>       
     </div>
     <div class="redes">
      <h3>Seguinos en nuestras redes</h3>  
          <section class="redesbutton">
            <a href="">
            <i class='bx bxl-facebook-circle'></i>
          </a>   
          <a href="">
            <i class='bx bxl-instagram' ></i>
          </a>    
          </section>
     </div>
     <div class="footer-image"><img class="imagenfooter" src="/assets/imagen footer.png"></div>  
    </div>
     <div class="copy">
        <p> 2023 © | Mascota Food</p><p>Desarrollado por Estudiantes de "Codo a Codo"</p>
        </div>    
    </footer>
    </div>
       <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/secciones/productos/productos.js"></script>    
  </body>
</html>
